{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<main>
  <div class="container">
    <nav class="navbar navbar-expand-lg mt-3 mb-5" style="background-color: #740000; color: #fff;">

      <!-- Navbar brand -->
      <span class="navbar-brand">{% trans "Sign Out" %}</span>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto display-none" style="visibility: hidden;">
          <li class="nav-item active">
            <a class="nav-link" href="#">All
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shirts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sport wears</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Outwears</a>
          </li>

        </ul>
        <!-- Links -->

        <form class="form-inline" style="color: #fff;">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
              style="color: #fff;">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->
    </nav>
    <section class=" mb-4 " style="height: 65vh;">
      <div class="col-6 offset-3 mb-5 d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="">
          <div class=" text-center">
            <div class="header-info">
              <h1 style="color: #8B0C0C;">SIGNING OUT?</h1>
            </div>
          </div>
          <h3 class="text-center">{% trans 'Are you sure you want to sign out?' %}</h3>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="mt-5 mb-5 btn-primary btn-block p-2" type="submit"
              style="font-size: 20pt; letter-spacing: 3px;">{% trans 'YES' %}</button>
          </form>
        </div>

      </div>

    </section>
</main>







{% endblock %}